// Place all the styles related to the qoutes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),image-url('cover.jpg') ;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.table_crud {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  // margin-top: 200px;

}

.main_table_crud {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.table_crud_random {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main_table_crud h1{
  text-align: center;
  font-size: 2rem;
}

.table_crud h1 {
  text-align: center;
  font-size: 2rem;
}

.grid .true, .table_crud .true, .table_crud_random .true{
  color: red;
  cursor: pointer;
}

.grid .false, .table_crud .false, .table_crud_random .false{
  color: #ffff;
}


i {
  cursor: pointer;
}

.nav {
  margin-top: 20px;
}

.font-serif {
  color: pink;
}

@media (max-width: 1000px) { 
     
  .nav h1 {
      display: none !important;
    }
  .nav {
    margin-bottom:0px !important;
    width: 100%;
    margin-left: 30px;
  }
}

@media (max-width: 540px) { 
     
   .main_table_crud {
    margin-top: 1300px !important;
    }
}

@media (max-width: 370px) { 
     
  .main_table_crud {
   margin-top: 1400px !important;
   }
}

@media (max-width: 768px) { 
     
   .main_table_crud {
    margin-top: 850px ;
    }
}


@media (max-width: 540px) { 
     
  .table_crud  {
   margin-top: 500px !important;
   }
}

@media (max-width: 370px) { 
    
 .table_crud  {
  margin-top: 500px !important;
  }
}

@media (max-width: 768px) { 
    
  .table_crud {
   margin-top: 100px ;
   margin-left: 0px;
   }
}

@media (max-width: 370px) { 
    
  .table_crud_random {
   margin-top: 150px !important;
   }
  
 }